@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}
.navbar{
  
  background : #5370c0 !important;
  padding:  15px;
 
  
  position : fixed !important;
  width:100% !important;}
body{
    font-family: 'Exo', sans-serif;
    background: #363a8a;  
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}


.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100% !important;
    height:100% !important;
    overflow:visible;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.flex-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
  padding-left:30px;
  align-items: baseline;
  
  font-family: 'Open Sans', sans-serif !important;
  margin:55px;
  
 
}

.data{
  background: rgb(39, 37, 37);
  overflow: hidden;
  padding: 25px;
  border:1px black solid;
  border-radius: 10px;
  opacity: 0.6;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  height: 400px;
  width: 300px;
  transition: all .2s;
  margin: 55px !important;
  
  
}
.data:hover{
  transform: scale(1.1);
}

.hck{

  font-size: 150px;
  padding : 20px;
 color:rgb(201, 201, 201);
 text-align: center;
 opacity:0.5;
 
  
 
 

}
.hzrd{
  text-align: left;
  padding:10px;
  font-size: 17px;
  color:white;
  font-weight: 400;
  overflow: hidden;
 
  
  

}
.back{

  background: #370599;
  
  width:100vw;
  height:90vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.btn-danger{
  display: inline-block;
  float: right;
  
  
}
.btn-left{
  float: left;
}
.logo1{
  text-align: ;
}
.danger{
  color:aqua;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  padding:45px;
}
.ul-main{
  list-style: none;
  color:#f4f4f4 !important;
  padding : 0px;
  
  
  
}
.li-items{
  color: white;
  font-weight: 400;
  font-size: 40px;
  margin-bottom: 20px;
  border-bottom: 2px rgb(112, 68, 68) dotted;

}
.logo-center{
  text-align: center;
}
.ul-wrapper{
text-align: left !important;
}
#main-footer{
  background: #5370c0 !important;
  padding:15px !important;
  position: fixed;
  bottom: 0px;
  width:100%;
  opacity:0.873;
 
}
