{% extends 'base.html' %}
{% block content %}
{%load static%}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{%static 'css/index.css'%}">

<div class="leadbg" id="particles-js">
    <div class ="align" >
        <h4> Online Web Drive</h4>
        <p>Organize and Save your files online..</p>
        </div>
    </div>
    


<script src="{%static 'js/particles.js' %}"></script>
<script src="{%static 'js/app.js' %}"></script>

{% endblock %}